<!DOCTYPE html> 
<html>
    <head>
        <meta charset="Utf-8">
        <meta name="viewport" content="width=devde=width, initial-scale=1.0">
        <title> Askme</title>        
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">        
    </head>